@mixin invisibleInput{
    border: 0px;
    clip: rect(0px,0px,0px,0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}


.container{
    display: grid;
    row-gap: 20px;
}

.header{
    font-family: Orbitron;
}

.row{
    display: flex;
    column-gap: 9px;

    & > *:nth-child(4n):not(:last-child){
        margin-right: 9px ;
    }
}

.cellStrip{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}


.cell{
    $cell: &;
    cursor: pointer;

    &Input{
        @include invisibleInput();

        &:checked   +   #{$cell}Content{
            background-color: #38fbdb;
        }

        &:focus-visible + #{$cell}Content{
            outline: solid 3px #ff00cc;
            outline-offset: 3px;
        }
    }

    &Content{
        width: 30px;
        height: 40px;
        background-color: #ccc;
        border-radius: 5px;

        
    }

    
}


.header{
    font-size: 48px;
    color: aliceblue;
    text-align: center;
}

.controlPanel{
    display: flex;
    column-gap: 20px;
    
}

.playButton{
    border: none;
    border-radius: 5px;
    appearance: none;
    background-color: darkblue;
    color: white;
    width: 80px;
    line-height: 2;
    font-weight: 700;
    transition: background-color 0.5s;


    &:hover{
        background-color: blue;
    }
}

.controlCol{
    text-align: center;
    color: azure;
    font-weight: 700;
}
.slider{
    caption-side: top;
}